html, body {
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.overflow-hidden, body.overflow-hidden {
  overflow-y: hidden;
}

strong, b {
  font-weight: 700;
}

a, a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, .bg-hero-picinguaba h5, .bg-hero-catucaba h5 {
  font-weight: 500;
}

h3, h4, h5, h6, .h6, p, span, .small {
  font-weight: 400;
}

p {
  font-size: 18px;
}
p.subtitle {
  font-size: 14px;
}
p.small {
  font-size: 12px;
}

h1 {
  font-size: 2.18em;
}
h1.big {
  font-size: 2.27em;
}
h1.bigger {
  font-size: 2.727em;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 20px;
}

span {
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
button:active {
  border: 0px;
  outline: 0px;
}
button:focus {
  border: 0px;
  outline: 0px;
}
button:target {
  border: 0px;
  outline: 0px;
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green {
  color: var(--green);
}

.violet {
  color: var(--violet);
}

.violet-light {
  color: var(--violet-light);
}

:root {
  --green: #3E5636;
  --violet: #5F4B8B;
  --violet-light: #EFEAF9;
}

header {
  font-family: "Inter", sans-serif;
  width: 100%;
  background-color: white;
}
header li {
  display: inline-block;
  padding-left: 40px;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--purple);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--purple);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu-mobile {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 25px;
  padding-top: 108px;
  right: -100px;
  background: white;
  border: 1px solid var(--liner-gradient);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
}

#menu-mobile li {
  padding: 5px 0;
  font-size: 18px;
  position: relative;
  display: block;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

.mobile-menu {
  height: 60px;
  background-color: white;
}
.mobile-menu ul.sub-menu {
  display: none;
}
.mobile-menu .menu-language li {
  display: block;
  font-size: 16px;
  margin-left: 0px;
  padding: 0px;
  line-height: 18px;
}
.mobile-menu .menu-language a {
  font-size: 16px;
  color: black;
}

.logo-gengibre-menu {
  height: 54px;
  margin: auto;
}

.logo-menu {
  height: 120px;
}

.menu-home-list {
  margin: auto;
}

footer {
  background-color: var(--violet);
  padding: 50px 0;
  margin-top: 120px;
}

button.btn-primario {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  color: var(--violet);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--violet);
  padding: 2px 12px;
  transition-duration: 0.2s;
}
button.btn-primario:hover {
  color: #fff;
  background-color: var(--violet);
}
button.btn-primario:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ico-instagram {
  background: url("../images/icons/ico-instagram.svg") no-repeat center/contain;
  height: 38px;
  width: 38px;
  display: block;
}

.ico-arrow {
  background: url("../images/icons/ico-arrow.svg") no-repeat center/contain;
  height: 18px;
  width: 26px;
  margin-left: 16px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.4s;
}

.ico-submit {
  background: url("../images/icons/ico-submit.svg") no-repeat center/contain;
  height: 14px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}

.article {
  margin-bottom: 68px;
}

.article-content p {
  margin: 0;
}

.hero-home {
  background-color: grey;
  height: calc(100vh - 126px);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.destaque {
  position: absolute;
  top: calc(100vh - 30%);
}

.home-objetivos {
  background-color: #fff;
  margin-bottom: 120px;
}

.box-objetivos {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 25px 35px 20px;
  margin-top: -150px;
}
.box-objetivos.dois-box {
  background: #EFEAF9;
}

h2.line-green {
  width: fit-content;
}
h2.line-green::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--green);
  display: block;
  margin-bottom: 30px;
}

.home-projeto {
  width: 100%;
  height: auto;
  padding: 70px 0px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.home-projeto img {
  border-radius: 0px 30px 30px 0px;
}
.home-projeto .box-texto {
  background-color: #fff;
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  padding: 54px 80px;
}

.home-quem-somos p {
  font-size: 22px;
}
.home-quem-somos img {
  border-radius: 30px;
}

.home-rede {
  margin-top: 120px;
  margin-bottom: 120px;
}

.rede-radial {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.img-equipe {
  border-radius: 50%;
  width: 138px;
  height: 138px;
}

.img-modal-equipe {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.modal-dialog {
  max-width: 750px;
}

.modal-equipe {
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 200px;
  padding: 24px;
}

.thumb-projeto {
  width: 100%;
  height: 70vh;
}

.titulo-projeto {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  padding: 36px 110px;
  margin-bottom: 70px;
  margin-top: -80px;
}
.titulo-projeto .bg-title {
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 120px;
}
.titulo-projeto h1 {
  padding-top: 44px;
  color: #fff;
}
.titulo-projeto h2 {
  font-family: "EB Garamond", serif;
  font-size: 36px;
  margin-top: 15px;
}

.bg-bloco-img {
  width: 100%;
  height: auto;
  padding: 110px 0px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-bloco-left {
  border-radius: 20px;
}

.text-bloco-right {
  font-size: 32px;
  line-height: 135%;
  margin-top: 10px;
  font-family: "EB Garamond", serif;
}

.line-bloco {
  width: 50%;
  height: 8px;
  background-color: #5F4B8B;
  margin: auto;
}

.wp-block-image figcaption {
  margin-top: 3px;
  margin-bottom: 16px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
