html, body {
  font-family: $font-primary;
  color: $grey;
  font-size: 18px; //22px
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.overflow-hidden {
    overflow-y: hidden;
  }
}

strong, b {
  font-weight: 700;
}

a, a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, .bg-hero-picinguaba h5, .bg-hero-catucaba h5 {
  font-weight: 500;
}

h3, h4, h5, h6, .h6, p, span, .small {
  font-weight: 400;
}

p {
  font-size: 18px;
  &.subtitle {
    font-size: 14px;
  }
  &.small {
    font-size:  12px;
  }
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: $font-terciary;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
  margin-bottom: 24px;
}
h4 {
  font-size: 20px;
}

span {
  font-size: 18px; 
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  &:active {
    border: 0px;
    outline: 0px;
  }
  &:focus {
    border: 0px;
    outline: 0px;
  }
  &:target {
    border: 0px;
    outline: 0px;
  }
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green {
  color: var(--green);
}

.violet {
  color: var(--violet);
}

.violet-light {
  color: var(--violet-light);
}

:root {
  --green: #3E5636;
  --violet: #5F4B8B;
  --violet-light: #EFEAF9;
}