header {
  // position: fixed;
  font-family: $font-primary;
  width: 100%;
  background-color: white;
  li {
    display: inline-block;
    padding-left: 24px;
    font-size: 16px;
    a {
      transition-duration: 0.2s;
      @media screen and (max-width: 1199px) {
        color: #fff;
        font-weight: 300;
      }
    }
    &:active {
      @media screen and (max-width: 1199px) {
        text-decoration: underline;
        color: #fff;
      }
    }
    a:not([href]):not([tabindex]) {
      @media screen and (max-width: 1199px) {
        color: #fff;
      }
      &:active {
        @media screen and (max-width: 1199px) {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
    a:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition-duration: 0.2s;
      @media screen and (max-width: 1199px) {
        height: 0px;
      }
    }
    a:hover {
      @media screen and (max-width: 1199px) {
        color: #fff;
        font-weight: 300;
      }
      &:after {
        background-color: var(--green);
      }
    }
  }
}

.opacity:hover {
  opacity: 0.85;
  cursor: pointer;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  @media screen and (max-width: 1199px) {
    top: 33px;
  }
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--violet);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu-mobile {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 25px;
  padding-top: 108px;
  right: -100px;
  background: var(--violet);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.17);
  box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.17);
}

#menu-mobile li {
  padding: 5px 0;
  font-size: 18px;
  position: relative;
  display: block;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

#menu-language {
  li:first-of-type {
    &:after {
      content: "|";
      font-size: 14px;
      display: inline;
      padding-left: 6px;
    }
  }
  li:last-of-type {
    padding-left: 6px;
  }
  a {
    display: inline-block;
  }
}

.logo-home {
  margin: auto;
}

.menu-home {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-gen {
  height: 106px;
  width: auto;
  margin-right: 14px;
  @media screen and (max-width: 1199px) {
    height: 74px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.mobile-menu {
  height: 90px;
  background-color: white;
  ul.sub-menu {
    display: none;
  }

  .menu-language {
    li {
      display: block;
      font-size: 16px;
      margin-left: 0px;
      padding: 0px;
      line-height: 18px;
    }
    a {
      font-size: 16px;
      color: black;
      @media screen and (max-width: 1199px) {
        color: #fff;
      }
    }
    ul {
      display: flex;
    }
  }
}

.logo-gengibre-menu {
  height: 54px;
  margin: auto;
  @media screen and (max-width: 1199px) {
    width: 122px;
    margin-top: 10px;
  }
}

.logo-menu {
  height: 120px;
}

.menu-home-list {
  margin: auto;
}

.menu-language {
  @media screen and (max-width: 1199px) {
    display: flex;
  }
  li:first-of-type {
    &:after {
      content: "|";
      font-size: 14px;
      display: inline;
      padding-left: 12px;
      padding-right: 12px;
      color: #fff;
    }
  }
  li:last-of-type {
    padding-left: 6px;
  }
  a {
    display: inline-block;
  }
}