.hero-home {
    background-color: grey;
    height: 85vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-objetivos {
    padding: 70px;
    background-color: #fff;
    width: 83.333333%;
}

.rede-radial {
    background-color: grey;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}